.div1{
    background-color: red;
    color: white;
}
.div2{
    background-color: black;
    color: aliceblue;
    margin-top: 20px;
}
.div3{
    background-color: brown;
    color: black;
    margin-top: 20px;
}